* {
    box-sizing: border-box;
}

nav {
    font-size: 1.2em;
}

h1 {
    text-decoration: underline;
}

.logo {
    float: left;
    padding: 10px;
    box-shadow: 12px 11px 100px blue;
}

h1, h1 + p {
    text-align: center;
}

body {
    font-family: monospace;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4;
    color: cadetblue;
    background-color: black;
    background-image: url(../img/Photo_outer_wilds.png);
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 200px;
}

main {
    padding: 20px
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: blue;
    text-decoration: none;
    text-shadow: 2px 4px 4px white;
}

a:hover {
    color: #C8F527;
    text-shadow: 2px 4px 4px white;
}

.avatar {
    max-width: 200px;
}

h2 {
    color: silver;
}
